<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Empowerize"
        tools:targetApi="31">
        <activity
            android:name=".vacan_available"
            android:exported="false" />
        <activity
            android:name=".vacancy_available"
            android:exported="false" />
        <activity
            android:name=".update_successfull"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".My_AdapterU"
            android:exported="false" />
        <activity
            android:name=".Update_Vacancy"
            android:exported="false" />
        <activity
            android:name=".Deleted_Vacancy"
            android:exported="false" />
        <activity
            android:name=".available_vacancie"
            android:exported="false" />
        <activity
            android:name=".Posted_Vacancy"
            android:exported="false" />
        <activity
            android:name=".Update_vacancy"
            android:exported="false" />
        <activity
            android:name=".AvailableVacancies"
            android:exported="false" />
        <activity
            android:name=".delete_succefull"
            android:exported="false" />
        <activity
            android:name=".read_vacancy"
            android:exported="false" />
        <activity
            android:name=".job_edit"
            android:exported="false" />
        <activity
            android:name=".delete_job"
            android:exported="false" />
        <activity
            android:name=".successfull"
            android:exported="false" />
        <activity
            android:name=".add_job_2"
            android:exported="false" />
        <activity
            android:name=".AddJob1"
            android:exported="false" />
        <activity
            android:name=".vacancy_view"
            android:exported="false" />
        <activity
            android:name=".landing_page1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>